
extends ../layout/main
block variable
  -
    var title_page = 'infrastructure'
    var id_page = 'id-page-infrastructure'
    var class_page = 'class-page-infrastructure'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ];
    var infraMenu = [
      {link: "#infrastructure", title: 'Інфраструктура'},
      {link: "#infrastructure-inner", title: 'Внутрішня інфраструктура'},
      {link: "#infrastructure-blagoustriy", title: 'Благоустрій'},
      {link: "#infrastructure-festival", title: 'Фестивальна площа'},
      {link: "#infrastructure-lake", title: 'Озеро'},
      {link: "#infrastructure-eco-road", title: 'Еко-стежка'},
      {link: "#infrastructure-parking", title: 'Паркінг'},
      {link: "#infrastructure-outer", title: 'Зовнішня інфраструктура'},
    ];
    var innerInfraLegend = [
      {style: "background-color :#FF7D3F", text: 'Активні пабліки', key: 'active-publics'},
      {style: "background-color :#FEA980", text: 'Зони пішох. пріоритету', key: 'pedestrian-priority'},
      {style: "background-color :#FFE2B6", text: 'Тихі житлові вулиці',  key: 'quite-streets'},
      {style: "background-color :#988B78", text: 'Проїзди',  key: 'roads'},
      {style: "background-color :#645847", text: 'Вуличні паркування',  key: 'parkings'},
      {style: "background-color :#8D83C1", text: 'Закриті подвірʼя',  key: 'private-yards'},
      {style: "background-color :#77B681", text: 'Паркові зони',  key: 'parks'},
      {style: "background-color :#EF8FAE", text: 'Дитсадок',  key: 'kindergarden'},
      {style: "background-color :#F8DB38", text: 'Активний відпочинок',  key: 'active-rest'},
      {style: "background-color :#53BDE9", text: 'Штучна водойма',  key: 'water'},
      {style: "background-color :#000000", text: 'кордони ділянки',  key: 'borders', class: 'infra-legend-item__icon--line'},
    ];
    var parkingInfralegend = [
      {style: "background-color :#A9DADB", text: 'Проїзди',  key: 'roads'},
      {style: "background-color :#E9C6BF", text: 'Паркування',  key: 'parking'},
      {style: "background-color :#F7E3CB", text: 'Паркінг підземний',  key: 'parking-underground'},
      {style: "background-color :#E6F476", text: 'Паркінг надземний',  key: 'parking-ground'},
    ];
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-default/dist/leaflet-default.css" />
block scripts
  <script defer src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/infrastructure.bundle.js')
block content
  +pageTitle('Інфраструктура', 'blue')
  .page-title-nav.page-title-nav--scrollable
    .page-title-nav__scroll-button
      <svg xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13" fill="none">
        <path d="M2.06616 1.51506L6.83969 6.73171L1.62303 11.5052" stroke="white" stroke-width="2"/>
      </svg>
    each val in infraMenu
      a.page-title-nav__item(href='#' data-developer-nav=val.link) #{val.title}
    .page-title-nav__scroll-button-next
      <svg xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13" fill="none">
        <path d="M2.06616 1.51506L6.83969 6.73171L1.62303 11.5052" stroke="white" stroke-width="2"/>
      </svg>
  .container.infra-first-container#infrastructure
    .infra-first-container__title.text-style-1920-h-3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Новий житловий квартал Ріхерт&Парк розміститься на Подолі в межах вулиць Кирилівської, Нижньоюрківської та Мильного провулку.
    .infra-first-container__text1.text-style-1920-body &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;тут з'явиться комплекс, що складатиметься із заводу Ріхерта, який реставрується та трансформується у багатофункціональний комплекс, житлового кварталу та відновленого озера із зоною відпочинку біля нього і еко тропою на гору Юрковиця.
    .infra-first-container__text2.text-style-1920-body &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;на території кварталу розмістяться 11 будинків 7-12 поверхів та 9 га паркових зон з майданчиками для відпочинку та активної діяльності.
    .infra-first-container__img-big
      picture
        source(srcset='./assets/images/infrastructure/img1-big.jpg', media='(min-width: 1024px)')
        source(srcset='./assets/images/infrastructure/img1-big@075x.jpg', media='(min-width: 600px)')
        img(src='./assets/images/infrastructure/img1-big@075x.jpg', alt='Alternative Text')
    .infra-first-container__small-image.infra-first-container__small-image--clip1
      img(src="./assets/images/infrastructure/img1-1.jpg", alt="", srcset="")
    .infra-first-container__small-image.infra-first-container__small-image--clip2
      img(src="./assets/images/infrastructure/img-1-2.jpg", alt="", srcset="")
  .container-delimiter
  .container.inner-infra-container#infrastructure-inner
    .inner-infra-container__title
      .text-style-1920-h-2 Внутрішня 
      .text-style-1920-h-2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;інфраструктура
    .inner-infra-container__svg
      include ../includes/infrastructure/inner-infra.svg
    <div class="block-style-column__info-wrapper block-style-column__info-wrapper--mobile">
      <input type="range" name="aaaa">
      <svg class="block-style-column__mobile-slider" xmlns="http://www.w3.org/2000/svg" width="604" height="80" fill="none" viewBox="0 0 604 80">
          <g class="Frame 481984">
              <path stroke="#fff" stroke-dasharray="1 10" stroke-width=".5" d="M80.25 39.75h443.5v.5H80.25z" class="Rectangle 4074"/>
              <circle cx="564" cy="40" r="39.5" stroke="#fff" stroke-dasharray="1 10" class="Ellipse 83"/>
              <g class="swipe">
                  <circle cx="40" cy="40" r="40" fill="#71A700" class="Ellipse 7"/>
                  <g class="swipe 1">
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M54.23 24.979h-9.487a.79.79 0 0 0 0 1.58h9.487a.79.79 0 0 0 0-1.58Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="m54.79 25.212-3.163-3.162a.791.791 0 0 0-1.117 1.117l2.602 2.603-2.604 2.604a.791.791 0 0 0 1.12 1.118l3.162-3.162a.791.791 0 0 0 0-1.118Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M33.675 24.979H24.19a.79.79 0 0 0 0 1.58h9.486a.79.79 0 0 0 0-1.58Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="m25.307 25.77 2.603-2.603a.791.791 0 0 0-1.118-1.117l-3.162 3.162a.791.791 0 0 0 0 1.118l3.162 3.162a.794.794 0 0 0 1.118-.002.791.791 0 0 0 0-1.117l-2.603-2.603Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M53.44 37.628a3.15 3.15 0 0 0-1.758.535 3.17 3.17 0 0 0-2.986-2.116c-.65 0-1.255.198-1.758.534a3.17 3.17 0 0 0-2.985-2.115c-.575 0-1.116.155-1.58.425v-5.168a3.165 3.165 0 0 0-3.163-3.162 3.165 3.165 0 0 0-3.162 3.162v13.439l-2.748-2.06a4.145 4.145 0 0 0-5.39.382 2.373 2.373 0 0 0 0 3.354l11.259 11.26a7.072 7.072 0 0 0 5.033 2.084h3.704c4.794 0 8.696-3.9 8.696-8.696V40.79a3.165 3.165 0 0 0-3.162-3.162Zm1.58 11.858c0 3.923-3.191 7.115-7.114 7.115h-3.704c-1.48 0-2.87-.575-3.915-1.62L29.027 43.72a.79.79 0 0 1 0-1.118 2.55 2.55 0 0 1 1.803-.74 2.53 2.53 0 0 1 1.523.505l4.011 3.008a.792.792 0 0 0 1.265-.632v-15.02c0-.871.708-1.581 1.581-1.581s1.581.71 1.581 1.58v11.859a.79.79 0 0 0 1.581 0v-3.953a1.582 1.582 0 0 1 3.162 0v3.953a.79.79 0 0 0 1.581 0v-2.372a1.582 1.582 0 0 1 3.163 0v2.372a.79.79 0 0 0 1.58 0v-.79a1.583 1.583 0 0 1 3.162 0v8.695Z" class="Vector"/>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </div>
    .inner-infra-container__legend
      .text-style-1920-h-4 Функціональне зонування
      .inner-infra-container__legend-delimiter
      each val in innerInfraLegend
        .infra-legend-item(data-inner-infra-item=val.key)
          .infra-legend-item__icon(style=val.style class=val.class)
          .infra-legend-item__text.text-style-1920-body #{val.text}
  .container-delimiter.reverse
  include ../includes/infrastructure/infra-improvements-blocks.pug
  .container-delimiter
  .container.inner-infra-container#infrastructure-parking
    .text-style-1920-h-2.inner-infra-container__title Паркінг
    .inner-infra-container__svg      
      include ../includes/infrastructure/infra-parkings.svg
    <div class="block-style-column__info-wrapper block-style-column__info-wrapper--mobile">
      <input type="range" name="aaaa">
      <svg class="block-style-column__mobile-slider" xmlns="http://www.w3.org/2000/svg" width="604" height="80" fill="none" viewBox="0 0 604 80">
          <g class="Frame 481984">
              <path stroke="#fff" stroke-dasharray="1 10" stroke-width=".5" d="M80.25 39.75h443.5v.5H80.25z" class="Rectangle 4074"/>
              <circle cx="564" cy="40" r="39.5" stroke="#fff" stroke-dasharray="1 10" class="Ellipse 83"/>
              <g class="swipe">
                  <circle cx="40" cy="40" r="40" fill="#71A700" class="Ellipse 7"/>
                  <g class="swipe 1">
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M54.23 24.979h-9.487a.79.79 0 0 0 0 1.58h9.487a.79.79 0 0 0 0-1.58Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="m54.79 25.212-3.163-3.162a.791.791 0 0 0-1.117 1.117l2.602 2.603-2.604 2.604a.791.791 0 0 0 1.12 1.118l3.162-3.162a.791.791 0 0 0 0-1.118Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M33.675 24.979H24.19a.79.79 0 0 0 0 1.58h9.486a.79.79 0 0 0 0-1.58Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="m25.307 25.77 2.603-2.603a.791.791 0 0 0-1.118-1.117l-3.162 3.162a.791.791 0 0 0 0 1.118l3.162 3.162a.794.794 0 0 0 1.118-.002.791.791 0 0 0 0-1.117l-2.603-2.603Z" class="Vector"/>
                          </g>
                      </g>
                      <g class="Group">
                          <g class="Group">
                              <path fill="#000" d="M53.44 37.628a3.15 3.15 0 0 0-1.758.535 3.17 3.17 0 0 0-2.986-2.116c-.65 0-1.255.198-1.758.534a3.17 3.17 0 0 0-2.985-2.115c-.575 0-1.116.155-1.58.425v-5.168a3.165 3.165 0 0 0-3.163-3.162 3.165 3.165 0 0 0-3.162 3.162v13.439l-2.748-2.06a4.145 4.145 0 0 0-5.39.382 2.373 2.373 0 0 0 0 3.354l11.259 11.26a7.072 7.072 0 0 0 5.033 2.084h3.704c4.794 0 8.696-3.9 8.696-8.696V40.79a3.165 3.165 0 0 0-3.162-3.162Zm1.58 11.858c0 3.923-3.191 7.115-7.114 7.115h-3.704c-1.48 0-2.87-.575-3.915-1.62L29.027 43.72a.79.79 0 0 1 0-1.118 2.55 2.55 0 0 1 1.803-.74 2.53 2.53 0 0 1 1.523.505l4.011 3.008a.792.792 0 0 0 1.265-.632v-15.02c0-.871.708-1.581 1.581-1.581s1.581.71 1.581 1.58v11.859a.79.79 0 0 0 1.581 0v-3.953a1.582 1.582 0 0 1 3.162 0v3.953a.79.79 0 0 0 1.581 0v-2.372a1.582 1.582 0 0 1 3.163 0v2.372a.79.79 0 0 0 1.58 0v-.79a1.583 1.583 0 0 1 3.162 0v8.695Z" class="Vector"/>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </div>
    .inner-infra-container__legend
      .text-style-1920-h-4 Функціональне зонування
      .inner-infra-container__legend-delimiter
      div.inner-infra-container__legend-block
        each val in parkingInfralegend
          .infra-legend-item(data-inner-infra-item=val.key)
            .infra-legend-item__icon(style=val.style class=val.class)
            .infra-legend-item__text.text-style-1920-body #{val.text}
      div.inner-infra-container__legend-block
        .text-style-1920-tiny У Ріхерт&Парк передбачені підземні та наземні гостьові паркінги, а також окрема наземна парковка. Що варто знати про паркінг для мешканців:
        ul.inner-infra-container__legend-list.text-style-1920-tiny
          li 
            span.text-color-brown по-перше, це безпечно – 
            | відеоспостереження та система контролю доступу;
          li 
            span.text-color-brown по-друге, це зручно – 
            | одна зупинка ліфтом і ти вже в своїй квартирі;
          li 
            span.text-color-brown ну і по-третє, це функціонально – 
            | є місця для різного розміру машин та зарядка для електромобілів.
  .container-delimiter.reverse
  .container.infra-map-container#infrastructure-outer
    .text-style-1920-h-2 Зовнішня
    .text-style-1920-h-2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;інфраструктура
    .map-wrapper.map
      #map
    include ../includes/infrastructure/outer-map-legend.pug

block footer
  include ../includes/inner-footer.pug
  include ../includes/footer-developer-block.pug
block header
  include ../includes/header.pug
