.screen9.screen(id="location" )
    .screen9__inner
        - 
            var points = [
                ['Відреставрована солодовня ','./static/solodovnya.mp4','80~41', './static/posters/solodovnya-0.jpg'],
                ['Дитячий садок','./static/kindergarden.mp4','56~21', './static/posters/kindergarden-0.jpg'],
                ['Медичний центр','./static/medical-center.mp4','55~8', './static/posters/medical-center-0.jpg'],
                ['Підземний паркінг','./static/underground-parking.mp4','53~54', './static/posters/underground-parking-0.jpg'],
                ['Фестивальна площа та фонтан','./static/festival-square.mp4','84~27', './static/posters/festival-square-0.jpg'],
                ['Мальовнича водойма на території','./static/vodoymka.mp4','30~80', './static/posters/vodoymka-0.jpg'],
                ['Тропа здоров’я на Юрковицю','./static/health-tropa.mp4','20~60', './static/posters/health-tropa-0.jpg'],
                ['Велодоріжки','./static/veloroads.mp4','40~60', './static/posters/veloroads-0.jpg'],
                ['Дитячі та спортивні майданчики','./static/playground.mp4','50~30', './static/posters/playground-0.jpg'],
            ];
        .map
            +img('screen9/mini.jpg')
            each val, index in points
                div.map-part(data-item=val[0])
                    video(playsinline data-poster=val[3] muted)
                        source(src=val[1])
                    //- +img('screen9/map/Rectangle 13.jpg')
                    span #{val[0]}
                style(type="text/css").
                    [data-item='!{val[0]}'] {
                        top:  #{val[2].split('~')[0]}%;
                        left:  #{val[2].split('~')[1]}%;
                    }
                    @media screen and (min-width:576px) and (max-width:1024px) {
                        [data-item='!{val[0]}'] {
                            left: calc(#{val[2].split('~')[1]}% * 1.59);
                        }
                    }
                    @media screen and (max-width:575px) {
                        [data-item='!{val[0]}'] {
                            left: calc(#{val[2].split('~')[1]}vw * 1.59);
                            top:  #{val[2].split('~')[0]}vh;
                        }
                    }
        a(href="https://goo.gl/maps/ixLvBqZ9BNhRWoQG8" target='_blank').button.screen9-mob-button Показати на мапі
        .h1.title <span class="screen9-sub-item">(НАВКОЛО)</span>
            span Культурний центр&nbsp;
            <div class="screen9-switcher-mob photo"><img src="./assets/images/screen9/switch.jpg" title="foto" alt="foto">
                </div>
            span міста
            <svg width="375" height="6" viewBox="0 0 375 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M379.785 1.04297L-3.70002 4.56509" stroke="black"/>
                </svg>
        .screen9-switcher.photo
            +img('screen9/switch.jpg')
        ul.screen9-list.legend
            //- li(data-src="./assets/images/screen9/places/1.jpg") м. Т.Шевченка  <span class="sub-item">7 хв</span>
            li(data-src="./assets/images/screen9/places/2.jpg") м. Контрактова площа  <span class="sub-item">14 хв</span>
            li(data-src="./assets/images/screen9/places/andriivskyi.jpg") Андріївський узвіз  <span class="sub-item">14 хв</span>
            li(data-src="./assets/images/screen9/places/4.jpg") Кінотеатр Жовтень   <span class="sub-item">10 хв</span>
            li(data-src="./assets/images/screen9/places/5.jpg") Києво-Могилянська академія  <span class="sub-item">20 хв</span>
            li(data-src="./assets/images/screen9/places/6.jpg") Воздвиженка  <span class="sub-item">17 хв</span>
            li(data-src="./assets/images/screen9/places/theaters.jpg") Театри, музеї  <span class="sub-item">17 хв</span>
            li(data-src="./assets/images/screen9/places/3.jpg") Житній ринок  <span class="sub-item">14 хв</span>


